<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @request.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @request.longitude %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
